
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

*:not(nav i, .top i) {
    transition: background-color 1s ease, color 0.1s ease;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--main-color);
    color: var(--text-color);
}

:root {
    --main-color: rgb(26, 32, 55);
    --glass-color: rgba(255, 255, 255, 0.1);
    --text-color: rgb(209, 211, 219);
    --new: rgb(145, 97, 252);
    --active: rgb(154, 205, 50);
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 2.5em;
    align-items: center;
    background: var(--glass-color);
}

nav {
    margin-left: 1.5em;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 75px;
    justify-content: center;
    align-items: center;
    gap: 10%;
    border-radius: 15px;
    font-size: 1.5em;
}

nav i {
    padding: 8px 10px;
    transition: color 0.1s ease, border-color 0.1s ease;
}

nav .bi-people {
    color: var(--active);
    border-bottom: 3px solid var(--active);
    cursor: pointer;
}

nav i:hover:not(.bi-people) {
    background: var(--glass-color);
    cursor: pointer;
    border-radius: 5px;
}

.gruops-container {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.top {
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
}

.top .title{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.5625em;
}

.top .display {
    display: flex;
    font-size: 1.5625em;
    background-color: var(--main-color);
    padding: 5px;
    border-radius: 10px;
}

.top .display i {
    padding: 5px 8px;
    transition: color 0.1s ease, border-color 0.1s ease;
}

.top .display .bi-view-stacked:hover {
    background-color: var(--glass-color);
    border-radius: 6px 0 0 6px;
    cursor: pointer;
}

.top .display .bi-grid {
    background-color: var(--glass-color);
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    color: var(--active);
}

.bottom {
    height: 85%;
    padding: 0.5em 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.bottom .group {
    background-color: var(--main-color);
    border-radius: 6px;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom .group:hover {
    cursor: pointer;
}

.bottom .group .new {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--new);
    right: 5px;
    top: 5px;
}

.bottom .group .image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: none;
    margin-bottom: 10%;
}

.bottom .group .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bottom .group h5{
    font-size: 1.2em;
    margin-bottom: 5%;
}

.bottom .create {
    background-color: rgba(255, 255, 255, 0.2);
}

.bottom .create .circle {
    background-color: var(--main-color);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.yoga {
    object-fit: fill !important;
}

.mode {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.5em;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mode input{
    position: absolute;
    opacity: 0;
}

.mode i {
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
    cursor: pointer;
    z-index: 2;
    transition: 1s ease;
}

.mode .bi-sun-fill {
    transition-delay: 0.5s;
}

.mode input:checked~.bi-sun-fill {
    transition-delay: 0s;
    transform: rotate(360deg) scale(0);
}

.mode .bi-moon-stars-fill {
    position: absolute;
    transform: scale(0);
    color: rgb(0, 0, 0);
}

.mode input:checked~.bi-moon-stars-fill {
    transition-delay: 0.5s;
    transform: scale(1) rotate(360deg);
}

.mode .toggle {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--main-color);
    z-index: 1;
    transition: 1s;
}

.mode input:checked~.toggle {
    background-color: rgb(255, 255, 255);
}

@media (max-width : 870px) {
    .container {
        flex-direction: column-reverse;
    }

    nav {
        flex-direction: row;
        height: 60px;
        width: 90%;
        margin-left: 0;
        gap: 0;
        justify-content: space-around;
    } 

    .gruops-container {
        height: 85%;
    }

    .gruops-container .top {
        padding: 0;
    }

    .mode {
        top: 83%;
        right: 3%;
    }
    
}

